.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-left: 0;
}
.form-signin {
  max-width: 430px;
  padding: 15px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.card {
  width: 25rem;
}
